@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

@import "components/badges";
@import "components/slick";

@import url("//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css");
@import url("//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css");

@import "components/slick";

body {
    //@include display(flex);
    //@include flex-direction(column);
    //min-height: 100vh;
    margin: 0;
    padding: 0;
    background: $color-wash;

    > header {
        padding: $spacing-small;
        background: lighten($color-wash, 5%);
       
        > div {
            @include display(flex);
            @include flex-wrap(wrap);
            @include align-items(center);
            max-width: 1388px;
            margin: 0 auto;
        }
        

        .logo {
            margin: 0;
            line-height: 1;

            > a {
                @include display(flex);
                @include align-items(center);
                

                &::before {
                    padding: 0.5rem 0.75rem;
                    margin-right: 0.5rem;
                    font-family: 'Nunito', Helvetica, Arial, sans-serif;
                    font-weight: 100;
                    font-size: 1.5rem;
                    color: lighten($color-wash, 5%);
                    background: $color-primary;
                    border-radius: 0.25rem;
                    content: 'CPA';
                }

                span {
                    font-size: 0.875rem;
                    margin-bottom: 0;
                    font-family: 'Nunito', Helvetica, Arial, sans-serif;
                    text-transform: uppercase;
                    color: $dark-gray;
                    line-height: 1;
                    font-weight: 600;
                    display: block;
                    color: $medium-gray;
                }
            } 

            @include media($screen-large) {
                > a {
                   &::before {
                     font-size: 2.5rem;
                   } 

                   span {
                     font-size: 1.25rem;
                   }
                }
            } 
        }

        nav {
            margin-left: auto;
            ul {
                @include transition(all 0.5s ease-in-out);
                position: fixed;
                top: 0;
                right: -100%;
                background: transparentize($color-wash, 0.3);
                padding: $spacing-base*2 0 $spacing-small 0;
                
                li {
                    padding: $spacing-small $spacing-base*2 $spacing-small $spacing-base;
                }

                @include media($screen-large) {
                    position: static;
                    background: none;
                    padding: 0 $spacing-small 0;
                    @include display(flex);

                    li {
                        padding: 0 0 0 $spacing-base;
                    }
                }
            }

            label {
                z-index: 9999;
                position: fixed;
                top: $spacing-small;
                right: $spacing-small;
                margin: 0;
                background: transparentize($color-wash, 0.3);
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 0.25rem;
                color: $color-accent;
                font-weight: 700;
                line-height: 40px;
                font-size: 1.5em;
                text-align: center;

                @include media($screen-large) {
                  display: none;
                }
              }

              input[type=checkbox] {
                z-index: 9999;
                position: fixed;
                top: $spacing-small/2;
                right: $spacing-small;
                opacity: 0;

                &:checked {
                  + ul {
                    
                    right: 0;
                    visibility: visible;
                    opacity: 1;
                    z-index: 9998;
                    //max-height: 400px;
                    //min-width: 400px;
                  }
                }

                @include media($screen-large) {
                  display: none;
                }
            }
        }

        @include media($screen-large) {
            padding: $spacing-base;
        }
        
        @include media($screen-max) {
            padding: $spacing-base 0;
        }
        
    }

    > main {
        //@include flex(1);

        > section {
            padding: $spacing-small;
            max-width: 1366px;
            margin: 0 auto;

            @include media($screen-large) {
                padding: $spacing-base;
            }

            @include media($screen-max) {
                padding: 3em 0 0 0;
            }
        }
    }

    > footer {
        padding: 3em 0;
        background: #74746d;

        margin-top: 3rem;

        > section {
            max-width: 1366px;
            margin: 0 auto;
            padding: 0 $spacing-small;

            @include media($screen-large) {
                padding: 0 $spacing-base;
            }

            @include media($screen-max) {
                padding: 0 0 0 0;
            }
        }
    }
}

.tags {
    margin-bottom: 1.25rem;
    > a {
        display: inline-block;
        margin-bottom: 0.25rem;
    }

    > ul {
        > li {
            margin-bottom: 0.25rem;
        }
    }
}

.banner {
    @include display(flex);
    max-width: none;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    padding: 0;

    ul {
        @include flex(1);
        @include display(flex);

        //@include media($screen-medium) {
            &:hover {
                > li:nth-child(5){
                    @include flex(1 1 40px);

                    > img {
                        left: 0;
                    }
                }
            }

            > li {
                @include transition(all 0.5s ease-in-out);
                @include flex(1 1 40px);
                position: relative;
                padding: 0;
                margin: 0;
                overflow: hidden;

                &:nth-child(5) {
                    @include flex(0 0 40%);

                    > img, > a {
                        left: 0;
                    }

                    &:hover {
                        @include flex(0 0 40%);
                        
                        > a, > img {
                            left: 0;
                        }
                    }

                    @include media($screen-large) {
                        @include flex(0 0 640px);

                        :hover {
                            @include flex(0 0 640px);
                        }
                    }
                }

                &:hover {
                    @include flex(0 0 40%);
                    @include transition(all 0.5s ease-in-out);

                    > a, > img {
                        @include transition(all 0.5s ease-in-out);
                        left: 0;
                    }

                    @include media($screen-large) {
                        @include flex(0 0 640px);
                    }
                }

                > a, > img {
                    @include transition(all 0.5s ease-in-out);
                    position: absolute;
                    left: -320px;
                    width: auto;
                    height: auto;
                    max-width: none;
                }

                > a > img {
                    width: auto;
                    height: auto;
                    max-width: none;
                }



            }
        //}
    }
}

.content {
    .link-block {
        display: block;
        text-align: right;
        
        &::after {
            content: "\00BB";
            margin-left: 0.25rem;
        }

    }
}

.rich-text {
    ul {
        list-style-type: disc;
        margin-bottom: $spacing-small;
        padding-left: $spacing-base;
    }

    ol {
        list-style-type: decimal;
        margin-bottom: $spacing-small;
        padding-left: $spacing-base; 
    }

    p {
        margin: 0;
        padding: 0 0 $spacing-base;

        &:empty {
            display: none;
        }

        &:blank {
            display: none;
        }
    }
}

.streamfield {
    h2 {
        padding-top: 0.5em;
        border-top: 1px solid $color-accent;
        font-color: $medium-gray;
        font-size: 1em;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 700;
        margin: 2em 0;

        &.inverse {
            color: white;
            border-color: white;
        } 
    }

    .intro {
        font-family: $font-family-heading;
        font-size: 1.5em;
        font-weight: 500;
        font-style: italic;
        line-height: 1.8;
        text-align: center;
        max-width: 1100px;
        margin: 3em auto;
    }
}

.more-link, .link-more {
    &::after {
        content: "\00BB";
        margin-left: 0.25rem;
    }
}

.link-back {
    &::before {
        content: "\00AB";
        margin-right: 0.25rem;
    }
}

.heading-divider {
    padding-top: 0.5em;
    border-top: 1px solid $color-accent;
    font-color: $medium-gray;
    font-size: 1em;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;

    &.inverse {
        color: white;
        border-color: white;
    } 
}

.pullquote {
    font-family: $font-family-heading;
    font-size: 1.5em;
    font-weight: 500;
    font-style: italic;
    line-height: 1.8;
}

.image-gallery {
    img {
        width: 100%;
    }
}

.about-mission {
    text-align: center;
    max-width: 1100px;
    margin: 3em auto;
}

.projects {
    .heading-divider {
        margin-bottom: 2em;
    }
}

.project-index {
    .project {
        background: lighten($color-wash, 3%);
        margin-bottom: 2em;
        

        .project-image {
            

            img {
                display: block;
                //max-width: none;
                //width: 100%;
            }
        }
        
        .project-content {
            padding: $spacing-base;
            .intro {
                text-align: left;
                margin: 0;
                padding: 0;
            }

            > a {
                display: block;
                text-align: right;
            }
        }
    }

    @include media($screen-large) {
        .project {
            @include display(flex);

            .project-image {
                width: 50%;
            }
            .project-content {
                @include display(flex);
                @include flex-direction(column);
                @include justify-content(space-between);
                width: 50%;
                padding: $spacing-base;
            }
        }
    }
}

.project-list {
    background: lighten($color-wash, 3%);
    padding: 1.25rem;

    ul {
        > li {
            margin-bottom: 1.25rem;
            position: relative;

            &:last-child {
                margin-right: 0;
            }

            > a {
                display: block;
                position: relative;

                &::after {
                    @include linear-gradient(to top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 33%, $fallback: transparent);
                    display: block;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }

            img {
                display: block;
                width: 100%;
            }

            h3 {
                position: absolute;
                bottom: 0;
                right: 0;
                color: white;
                font-family: $font-family-heading;
                font-size: 1em;
                font-style: italic;
                font-weight: 500;
                margin: 0 .5em .5em 0;
            }

            
        }
    }

    > a {
        margin-top: 1.25rem;
        display: block;
        text-align: right;

        &::after {
            content: "\00BB";
            margin-left: 0.25rem;
        }
    }

    @include media($screen-large) {
        ul {
            @include display(flex);

            > li {
                @include flex(1);
                margin-bottom: 0;
                margin-right: 1.25rem;
            }
        }
    }
}

.project {
    > header {
        @include display(flex);
        @include align-items(center);
        margin-bottom: $spacing-small;

        h1 {
            margin-bottom: 0;
        }

        .tags {
            margin-left: auto;
            @include display(flex);
            > li {
                padding-left: $spacing-small/2;
            }
        }
    }

    .project-gallery {
        img {
            display: block;
            width: 100%;
        }
    }

    .project-intro {
        background: lighten($color-wash, 5%);
        padding: $spacing-base;
        font-family: $font-family-heading;
        font-size: 1.25em;
        font-weight: 500;
        font-style: italic;
        line-height: 1.8;
        text-align: center;
        color: $medium-gray;

        + .project-detail {
            padding-top: 0;
        }
    }

    .project-detail {
        background: lighten($color-wash, 5%);
        padding: $spacing-base;
        

        > aside {
            

            .meta {
                margin-top: 0;
                padding-top: 0;
            }

            h2 {
                font-weight: 400;
                color: $medium-gray;
                font-size: 1em;
                text-transform: uppercase;
            }
        }
    }

    @include media($screen-large) {
        > header {
            margin-bottom: 2.25rem;
        }

        .project-detail {
            @include display(flex);
            padding: $spacing-base * 2;

            > aside {
                padding-left: $spacing-base * 2;
                @include flex(1 0 25%);
            }
        }

        .project-intro {
            
            padding: $spacing-base * 2 $spacing-base * 4;
            font-size: 1.5em;

            + .project-detail {
                padding-top: 0;
            }
        }
        
    }
}

.of-interest {
    .heading-divider {
        margin-bottom: 2em;
    }
    
    ul {
      //@include display(flex); 
      
      > li {
            //@include flex(1);
            margin-bottom: 1.25rem;

            &:last-child {
                margin-right: 0;
            }

            img {
                display: block;
                margin-bottom: 1rem;
                width: 100%;
            }
       } 
    }

    @include media($screen-large) {
        ul {
            @include display(flex);

            > li {
                @include flex(1);
                margin-bottom: 0;
                margin-right: 1.25rem;
            }
        }
    }
}

.resource-index, .blog-index {
    
    > section {
        .post {
            @include clearfix;
            clear: both;
            margin-bottom: $spacing-base;
        }

        .blog-image {
            display: block;

            img {
                width: 100%;
            }
        }
    }

    > aside {
        
        padding: $spacing-base;
        background: lighten($color-wash, 3%);

        .tags {
            @include display(block);

            > li {
                margin-bottom: $spacing-small;
            }
        }

    }

    .resource {
        margin-bottom: $spacing-base*2;
        padding-top: $spacing-small/2;
        //border-top: 1px solid darken($color-wash, 10%);

        h2 {
            margin-bottom: $spacing-small/3;
        }

        .tags {
            @include display(flex);
            @include flex-wrap(wrap);
            margin-bottom: $spacing-base;

            > li {
                margin-left: $spacing-small/3;

                span {
                    white-space: no-wrap;
                }
            }


        }
    }

    @include media($screen-large) {
        @include display(flex);

        > section {
            width: 67%;
            padding-right: 2rem;

            .blog-image {
                float: left;
                margin-right: $spacing-base;
            }
        }

        > aside {
            width:33%;
        }
    }
}

.post {
    .post-body {
        .rich-text {
            order: 0;
        }

        .post-images {
            margin-bottom: $spacing-small;
            order: 1;
        }
    }

    @include media($screen-large) {
        .post-images {
            order: 0;
            width: 40%;
            float: left;
            padding-right: $spacing-base;
        }

        .rich-text {
            order: 1;
        }
    }
}

.contact {
    @include clearfix;
}

.contact-form, .contact-address {
    //padding-top: 4rem;

    @include media($screen-large) {
        padding-top: 4rem;
        float: left;
        width: 50%;
    }
}

.contact-form {
    label {
        color: white;
        font-weight: 100;
    }

    P {
        margin: 0;
    }
}

.contact-address {
    font-family: $font-family-heading;
     color: white;
    font-weight: 100;

    @include media($screen-large) {
        font-size: 1.5rem;
    }
}





