 {% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags taggit_templatetags2_tags %}

{% block body_class %}body--resources{% endblock %}

{% block content %}
<main>
    <section class="content">
        <h1>{{ page.title }}{% if search_tag %}: {{ search_tag }}{% endif %}</h1>

        <div class="intro">{{ page.intro|richtext }}</div>


        <div class="resource-index">
            <section>
                {% for resource in resourcepages %}
                <div class="resource">
                {% with resource=resource.specific %}
                    <h2><a href="{% pageurl resource %}">{{ resource.title }}</a></h2>
                    <ul class="tags">
                    {% for tag in resource.tags.all %}
                        <li>
                            <a href="{% pageurl page %}?tag={{ tag }}"><span class="badge--default">{{ tag }}</span></a>
                        </li>
                    {% endfor %}
                    </ul>
                    {{ resource.intro|richtext }}
                {% endwith %}
                </div>
                {% empty %}
                    No resources found with that tag.
                {% endfor %}
            </section>
            {% get_taglist as tags for 'resources.resourcepage' %}
            {% if tags %}
            <aside>
                <h3>Resource Categories</h3>
                    <ul class="tags">
                        {% for tag in tags %}
                        <li>
                            <a href="{% pageurl page %}?tag={{ tag }}"><span class="badge--{% ifequal tag.name search_tag %}active{% else %}default{% endifequal %}">{{ tag }}  {{tag.num_times}} </span></a>
                        </li>
                        {% endfor %}
                    </ul>
            </aside>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}