 {% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags taggit_templatetags2_tags %}

{% block body_class %}body--resources{% endblock %}

{% block content %}
<main>
    <section class="content">
        <h1>{{ page.title }}{% if search_tag %}: {{ search_tag }}{% endif %}</h1>
        {% if page.intro %}
        {{ page.intro|richtext }}
        {% endif %}
        <div class="resource-index">
            <section>
                {% for resource in resourcepages %}
                <div class="resource">
                {% with resource=resource.specific %}
                    <h2>{{ resource.title }}</h2>
                    {% if resource.intro %}
                    <h3>{{ resource.intro|richtext }}</h3>
                    {% endif %}
                    {% if resource.tags.all.count %}
                    <ul class="tags">
                        {% for tag in resource.tags.all %}
                            <li><a href="{% pageurl page %}?tag={{ tag }}"><span class="badge--default">{{ tag }}</span></a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ resource.description|richtext|truncatechars_html:200 }}
                
                    <a class="link-more" href="{% pageurl resource %}">Read More</a>
                {% endwith %}
                </div>
                {% empty %}
                    <p>No resources found with that tag.</p>
                {% endfor %}
            </section>
            {% get_taglist as tags for 'resources.resourcepage' %}
            {% if tags %}
            <aside>
                <h3>Resource Categories</h3>
                    <ul class="tags">
                        {% for tag in tags %}
                        <li>
                            <a href="{% pageurl page %}?tag={{ tag }}"><span class="badge--{% ifequal tag.name search_tag %}active{% else %}default{% endifequal %}">{{ tag }}  ({{tag.num_times}})</span></a>
                        </li>
                        {% endfor %}
                    </ul>
            </aside>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}truncatechars_html:9