gunicorn>=19.6,<19.7 # server
psycopg2_binary
Django>=1.11,<2.0
wagtail>=1.13,<2.0
markdown>=2.6.7,<2.7
django-compressor>=2.2,<2.3
django-libsass==0.7
django-supervisor>=0.4.0,<0.5
django-taggit-templatetags2>=1.6.1,<1.7
django-redis>=4.7,<4.8

